html.dim-background .slide-background {
    opacity: 0.4 !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

 .reveal p {
   text-align: left;
  }
 .reveal ul {
   display: block;
 }
 .reveal ol {
   display: block;
 }